# Node / JS
node_modules/
*.log
pnpm-lock.yaml

# Vite build output
dist/
*/dist/
frontend/dist/
web-ui/dist/

# Rust / Cargo
target/
*/target/
src-tauri/target/
Cargo.lock

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Tauri
src-tauri/.cargo/
